<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tzhongwei">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

    <!-- font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

    <!-- Custom style -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <title><%= title %></title>
</head>
<body>
<!-- modified from url=(0041)http://v3.bootcss.com/examples/dashboard/ -->
<% include navbar.ejs %>
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <% include sidebar.ejs %>
        <div class="col-sm-9 col-md-10 main">
            <section class="content-header">
                <h4>
                    课程管理
                    <small>添加课程</small>
                </h4>
            </section>
            <section class="content">
                <div id="successMsg" class="alert alert-success alert-dismissible none" role="alert">
                    <i class="fa fa-check"></i>
                    添加课程成功
                </div>
                <div id="errMsg" class="alert alert-danger alert-dismissible none" role="alert">
                    <i class="fa fa-ban"></i>
                    <span id="errMessage"></span>
                </div>
                <div class="box box-primary box-med">
                    <div class="box-header">
                        <div class="box-title">
                            请填写课程信息表
                        </div>
                    </div>
                    <form id="form-addCourse" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group form-inline">
                                <label for="selectYear">学年</label>
                                <select class="form-control" id="selectYear" name="year">
                                    <option>2009-2010</option>
                                    <option>2010-2011</option>
                                    <option>2011-2012</option>
                                    <option>2012-2013</option>
                                    <option>2013-2014</option>
                                    <option>2014-2015</option>
                                    <option>2015-2016</option>
                                    <option>2016-2017</option>
                                </select>
                                <label for="selectTerm">学期</label>
                                <select class="form-control" id="selectTerm" name="term">
                                    <option>上</option>
                                    <option>下</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputCourseName">课程名</label>
                                <input type="text" class="form-control" id="inputCourseName" name="courseName"
                                       placeholder="课程名">
                            </div>
                            <div class="form-group">
                                <input type="file" id="inputFile" name="student">

                                <p class="help-block">支持Excel文件和txt格式文件,编码格式为:"utf-8",数据包括两列,分别是学生学号和姓名.</p>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" value="提交"/>
                        </div>
                    </form>
                    <!-- form -->
                </div>
            </section>
        </div>
        <% include footer.ejs %>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- jQuery plugin to validate form fields designed for Bootstrap -->
<script src="/javascripts/bootstrapValidator.min.js"></script>
<!-- Include sha1 JavaScript plugins -->
<script src="/javascripts/sha1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var leaveNum = '<%= leaveNum %>';
        if (leaveNum != '0') $('#leaveAlert').show();
        $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
        });
        $('#form-addCourse')
                .bootstrapValidator({
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok-sign',
                        invalid: 'glyphicon glyphicon-remove-sign',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        courseName: {
                            validators: {
                                notEmpty: {
                                    message: '请填写课程名'
                                },
                                stringLength: {
                                    max: 40,
                                    message: '不能超过40个字符'
                                }
                            }
                        },
                        student: {
                            validators: {
                                notEmpty: {
                                    message: '请选择文件'
                                },
                                regexp: {
                                    regexp: /\.txt|\.xlsx|\.xls/,
                                    message: '只支持txt和Excel文件'
                                }
                            }
                        }
                    }
                })
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();
                    //改用XMLHttpRequest对象提交
                    var formData = new FormData();
                    var files = document.getElementById('inputFile').files,
                            year = document.getElementById('selectYear').value,
                            term = document.getElementById('selectTerm').value,
                            courseName = document.getElementById('inputCourseName').value;
                    var student = files[0];
                    formData.append('year', year);
                    formData.append('term', term);
                    formData.append('courseName', courseName);
                    formData.append('student', student);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/home/addCourse', true);
                    xhr.onload = function (e) {
                        if (this.status == 200) {
                            $('#form-addCourse').data('bootstrapValidator').resetForm(true);
                            if (this.response == 'success') {
                                $('#errMsg').hide();
                                $('#successMsg').show();
                                setTimeout("$('#successMsg').hide();", 5000);
                            } else {
                                $('#successMsg').hide();
                                $('#errMsg').show();
                                setTimeout("$('#errMsg').hide();", 5000);
                                document.getElementById('errMessage').innerHTML = this.response.toString();
                            }
                        } else {
                            alert('服务器发生错误');
                        }
                    };
                    xhr.send(formData);
                });
    });
</script>
</body>
</html>
