<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tzhongwei">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
</head>
<body style="background-color: #eee;">
<div class="jumbotron"
     style="width: 50%;height: 50%;text-align: center;margin: auto;position: absolute;top: 0; left: 0; bottom: 0; right: 0;">
    <h1><%= message %></h1>

    <p>
        <button class="btn btn-primary btn-lg" disabled="disabled" id="redirect" role="button">3s后回到主页</button>
    </p>
</div>
<script type="text/javascript">
    var second = 3;
//    var second = 1; //debug quickly
    var timer;
    function countDown() {
        second--;
        if (second > -1) {
            document.getElementById("redirect").innerHTML = second + 's后回到主页';
            timer = setTimeout('countDown()', 1000);
        }
        else {
            clearTimeout(timer);
            window.location.href = '/'
        }
    }
    timer = setTimeout('countDown()', 1000);
</script>
</body>
</html>