    <div class="footer-content">
        <div class="github">
            <a href="https://github.com/bamatong/myGraduateThesis" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="icon-github" aria-hidden="true"></span> Fork this project on GitHub
            </a>
        </div>
        <div class="developer">
            <span>&copy 2015 汤中伟. 基于<a href="https://nodejs.org/">Node.js</a>, <a href="http://expressjs.com/">Express 4.x</a>,<a href="http://www.mysql.com/">MySQL</a>构建</span>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../public/javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../public/javascripts/bootstrap.min.js"></script>
    </body>
</html>