<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="author" content="tzhongwei">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

    <!--Custom stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <!-- 不同网页填入不同的样式表 -->
    <link rel="stylesheet" href="/stylesheets/<%= stylesheet %>.css"/>
</head>