<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tzhongwei">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

    <!--Custom style -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <!-- 不同网页填入不同的样式表 -->
    <link rel="stylesheet" href="/stylesheets/<%= stylesheet %>.css"/>
    <title><%= title %></title>
</head>