<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a><i class="fa fa-lg fa-book"></i> 课程管理</a>
        </li>
        <li><a href="/home/addCourse">添加课程</a></li>
        <li><a href="/home/showAndEdit/showCourse">查看和编辑</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a><i class="fa fa-lg fa-list-alt"></i> 考勤管理</a>
        <li><a href="">查看考勤情况</a></li>
        <li><a href="">编辑考勤信息</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a><i class="fa fa-lg fa-location-arrow"></i> 推送管理</a>
        <li><a href="">编辑推送</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#"><i class="fa fa-lg fa-qrcode"></i> 二维码签到</a>
    </ul>
</div>